[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
nbdev = "*"
watchdog = {extras = ["watchmedo"], version = "*"}
dvc = ">= 1.1.1"
jupyter-contrib-nbextensions = "*"

[packages]

[requires]
python_version = "3.7"
